<div class="login-wrapper" *ngIf="formGroup">
  <form class="login" [formGroup]="formGroup" novalidate>
    <section class="title">
      <img src="assets/logo_final.png" alt="Diagnojur" />
      <h5 class="hint">
        Cadastre uma nova senha
      </h5>
    </section>
    <div class="login-group">
      <clr-password-container>
        <label class="clr-sr-only">Senha</label>
        <input
          type="password"
          name="password"
          clrPassword
          placeholder="Senha"
          formControlName="password"
        />
      </clr-password-container>

      <button
        type="submit"
        [clrLoading]="btnState"
        (click)="resetPassword()"
        class="btn btn-primary"
      >
        Redefinir Senha
      </button>
    </div>
  </form>
</div>
