<div class="pt-3">
  <p class="text-justify">
    Através de um diagnóstico descritivo, nas modalidades: simples; apenas o diagnóstico dos três últimos eventos,
    diagnóstico específico; referente a um evento escolhido pelo cliente dentre 10 tipos e a modalidade completa, que
    descreverá desde a distribuição do processo até o evento mais atual.
  </p>

  <p class="text-justify">
    O conteúdo dos diagnósticos deve abordar o que aconteceu e a situação atual do processo, sem qualquer qualificação,
    comentário sobre opções certas ou erradas acerca das estratégias, táticas, opções técnico-jurídicas e suas
    movimentações, preservando a independência e autonomia dos titulares.
  </p>
</div>
