<div class="mx-auto">
  <nz-card [nzBordered]="false" nzTitle="Cadastro realizado com sucesso">
    <div nz-row nzJustify="center" nzType="flex">
      <div nz-col nzSm="18" nzXs="24">
        <p class="text-justify">
          Analisaremos os documentos o mais rápido possível para ativação do seu cadastro. O prazo da análise é de até
          10 dias úteis, você receberá uma resposta no e-mail cadastrado sobre o status do pedido de ativação de conta e
          usuário. Qualquer dúvida entre em contato com analise@diagnojur.com.br
        </p>
      </div>
    </div>
  </nz-card>
</div>
