<div class="mx-auto">
  <nz-card [nzBordered]="false">
    <div [nzGutter]="8" nz-row nzJustify="center" nzType="flex">
      <div nz-col nzSm="18" nzXs="24">
        <p class="text-justify font-weight-bold">
          Prezado(a) importante que as fotos estejam nítidas, da frente e do
          verso do documento para que seu cadastro seja aprovado. Caso haja
          alguma desconformidade, a ativação do cadastro será inviabilizada até
          que seja resolvido tal problema.
        </p>
      </div>

      <div nz-col nzSm="18" nzXs="24">
        <nz-form-item>
          <nz-form-label
            >Documento profissional (Carteira da OAB) - frente</nz-form-label
          >
          <nz-form-control>
            <nz-upload
              (nzChange)="changeFile($event, dOab)"
              [nzAction]="urlUpload"
              [nzBeforeUpload]="beforeUpload"
              [nzShowButton]="!documents.get(dOab)"
              nzListType="picture"
            >
              <button nz-button>
                <i nz-icon type="upload"></i><span>Selecione</span>
              </button>
            </nz-upload>
            <nz-form-explain>
              <span class="text-justify">
                Clique no botão acima para inserir a foto, a mesma deve estar em
                boa qualidade, legível e colorida para conferência.
              </span>
            </nz-form-explain>
          </nz-form-control>
        </nz-form-item>
      </div>

      <div nz-col nzSm="18" nzXs="24">
        <nz-form-item>
          <nz-form-label
            >Documento profissional (Carteira da OAB) - verso</nz-form-label
          >
          <nz-form-control>
            <nz-upload
              (nzChange)="changeFile($event, dOabVerso)"
              [nzAction]="urlUpload"
              [nzBeforeUpload]="beforeUpload"
              [nzShowButton]="!documents.get(dOabVerso)"
              nzListType="picture"
            >
              <button nz-button>
                <i nz-icon type="upload"></i><span>Selecione</span>
              </button>
            </nz-upload>
            <nz-form-explain>
              <span class="text-justify">
                Clique no botão acima para inserir a foto, a mesma deve estar em
                boa qualidade, legível e colorida para conferência.
              </span>
            </nz-form-explain>
          </nz-form-control>
        </nz-form-item>
      </div>

      <div nz-col nzSm="18" nzXs="24" class="mt-3">
        <span class="text-justify small text-danger">
          * Os documentos devem ser enviados no formato de imagem e devem ter
          até 50 mb de tamanho
        </span>
      </div>
    </div>
  </nz-card>
</div>
