<p class="text-justify">
  Caro Analista, antes de confirmar a conclusão do Diagnóstico solicitado, verifique a linguagem utilizada(evitar
  juridiquês), a correção ortográfica, lembrando que o conteúdo dos diagnósticos deve abordar de forma simples, clara,
  objetiva o que aconteceu, a situação atual do processo, sem qualquer qualificação ou comentário sobre opções certas
  ou erradas acerca das estratégias, táticas, opções técnico-jurídicas e suas movimentações, preservando a independência
  e autonomia dos seus titulares. O conteúdo das informações lançadas nos diagnósticos são de
  responsabilidade dos analistas.
</p>
<p class="font-weight-bold text-justify">
  As informações preenchidas e salvas no Diagnóstico, partes e eventos do processo não poderão ser mais editadas após a
  confirmação. Entretanto, caso o cliente venha a ter dúvidas em algum item, na solicitação de réplica, é dever do
  Analista esclarecê-la ou corrigi-la, indicando onde houve o equívoco.
</p>
